h1 {
    text-align: center;
}

.nav-link {
    padding: 0.35714rem;
    margin: 0.35714rem;
    color: #43525A;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(0); }